*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #212121;
}
h1 {
	font-family: 'Righteous', cursive;
}


body > main {
	color: #CFD8DC;
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
	margin: 5rem;
	padding: 10vh;
	background-image: url("./imgs/anticipation-bn.webp");
	background-repeat: no-repeat;
	background-size: 100vw;
	/*background: linear-gradient(to bottom, black);*/
}

.navbar {
	position: relative;
	float: right;
	margin-right: -100px;
}