main {
	max-width: 900px
}

.grid-container {
	border: 3px solid gold;
	display: grid;
	grid-template-columns: minmax(300px, auto) 150px;
	gap: 15px;
	/*width: 50vw;
	margin-right: 25vw;*/

}

.intro-gif {
	grid-column-start: 1;
	grid-column-end: 2;
}

.section-container {
	grid-column-start: 1;
	grid-column-end: 2;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 3;
}

.navbar {
	/*position: relative;
	float: right;
	margin-right: -100px;*/
	background-color: #757575;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid blue;
	/*height: 100vh;*/
	grid-column: 2 / 3;
	grid-row: span 2;
}
.navbar.logo {
	width: 100px;
}

.logo img{
	width: 100%;
	display: cover;
}

.flex-container {
	display: flex;
	width: 800px;
	height: 600px;
	border: 3px solid red;
}