body > main {
	color: #CFD8DC;
}

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	min-width: 320px;
}

.login-container .logo-container {
	/*min-width: 350px;
	flex-grow:2;
	width: 40vw;*/
	/*border: 5px solid green;*/
	margin-bottom: 1.5rem;
	flex: 0 1 50%;
}

.logo-container > img {
	width: 100%;
}

.intro-message{
	font-size: 1.1rem;
	flex: 0 1 50%;
	max-width: 500px;
}
p {
	text-align: justify;
}

p > span {
	display: block;
	color: #CDDC39;
	text-align: center;
}

.login-form {
	padding: 1.1rem;
	width: 40vw;
}
.login-form form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

input, label {
/*	border: 1px dotted gray;*/
	display: block;
	width: 100%;
	font-size: 1.20rem;
	border-radius: 2px;
}
input {
	padding: 0.5rem;
}
label {
	padding: 0.5rem;
}
button {
 margin-top: 1rem;
 font-size: 1rem;
 font-weight: 800;
 width: 50%;
 padding: 0.5rem;
 color: #455A64;
 background-color: #CDDC39;
 align-self: center;
}

.problem-logging {
	padding: 10px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.problem-logging > a {
	color: #CFD8DC;
	text-decoration: none;
	font-size: 0.75rem;
	margin: 0.5rem;
}	

@media all and (max-width: 700px) {

.login-form {
	width: 70vw;
}
}

@media all and (max-width:540px) {

		body > main {
		margin: 1rem;
	}	

	input, label {
		font-size: 0.8rem;
	}

	button {
 	margin-top: 1rem;
 	font-weight: 600;
 	width: 200px;
	}

	.login-form {
	width: 90vw;
}
	.footer {
		visibility: hidden;
	}

}

@media all and (max-width:340px) {
	body > main {
		margin: 0
	}	
	.intro-message{
	font-size: 1rem;
	padding: 1rem;
	}
}