header {
	display: flex;
	background-color: #212121;
/*	border: 5px solid red;*/
	max-height: 70px;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 9999;
}

header img {
	max-height: 75px;
	display: cover;
}

.navbar  {
	display: flex;
	/*border: 5px solid green;*/
	justify-content: flex-end;
	/*padding: 5px;*/
	width: 100%;
	/*overflow: hidden;*/
	align-items: center;
}

.navbar .navbar-search {
	display: flex;
	margin: 5px;
	padding: 5px;
	border: 5px solid red;
	width: 25%;
	justify-content: flex-end;

}


.navbar input {
border-radius: 50px;
padding: 2px;
margin: 3px;
width:100%;
height: 35px;
min-width: 125px;
}

.navbar .search {

}

.navbar .categories {
	display: flex;
	flex-direction: row;
/*	border: 5px solid blue;*/
	align-items: center;
	justify-content: center;
	margin: 0 5px;
}

.navbar li {
	list-style-type: none;
    display: flex;
    flex-direction: row;
	justify-content: flex-end;
	/*flex-grow: 1;
	flex-shrink: 1;*/

}

.navbar li :hover {
	color: gray;
}

.navbar a {
	color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}


.navbar-favs {
	margin: 2px;
	width: 5rem;
	height: 50px;
	color: black;
	background-color:#CDDC39;
	box-shadow: none;
	border-radius: 5px;
}
