*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #212121;
	color: white;
	font-family: 'Righteous', cursive;
}

.featured {
	margin-top: 100px;
	height: 400px;
	width: 100vw;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* no tengo claro esto */

}

.category-grid {
	display: flex;
	flex-direction: row;
	/*display: grid;
	grid-template-columns: 400px;
	grid-template-rows: 400px;*/
	min-height: 400px;
	border: 5px dotted #CFD8DC;
	border-radius: 2px;
	overflow: scroll;
	padding: 1rem;
	margin-bottom: 2rem;
}

.caratula{
	display: flex;
	flex-direction: column-reverse;
	max-height: 400px;
	min-width: 400px;
	border: 5px solid red;
	margin-right: 2rem;
	border-radius:2px;
	overflow: hidden;
	background-image: url("./imgs/camden-fort-pop-up-cinema.jpg"); /*esto lo llevo a un css propio con una imagen cada una*/
}


.caratula .ficha {
	/*height: 50%;*/
	/*visibility: hidden;*/
	border: 5px solid green;
	display:grid;
	grid-template-columns:


}

.ficha h1 {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0.3rem;
}

.caratula .ficha {
	width:100%;
}

.flex-container .category-name {
	margin-left: 20px;
}
