main {
	min-width: 320px;
}

.featured {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	width: 100%;
	min-width: 320px;
}

.featured .featured-container {
	border: 5px dotted #CDDC39;
	position: relative;
	left: 20vw;
	max-width: 60vw;
	min-width:270px;
}

.featured .featured-film {
	position: relative;
	width: 100%
	
}
.featured .featured-show {
	text-align: center;
	color: #CDDC39;
	font-size: 2rem;
}


@media all and (max-width: 1050px) {

	.featured .featured-container {
	left: 10vw;
	max-width: 80vw;
	}
}

