.footer {
    max-height: 400px;
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    color: #455A64;
    padding-bottom: 10px;
    min-width: 360px;
}

.footer .contact-data {
    min-width: 200px;
    margin: 5px;
    text-align: center;
}

.footer .contact-data table{
    width: 100%;
    margin: 5px auto;
}
table th,td {
    padding: 5px;
}

table th {
    text-transform: uppercase;
}

.footer h1 {
    font-size: 1rem;
    padding-bottom: 5px;
    color: #455A64;
}

.footer .social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border: 5px solid red;

}

.footer .social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    border: 5px solid green;
}

.footer .social-list li {
    padding: 5px;
    list-style-type: none;
}

.footer a {
    text-decoration: none;
    color: #455A64;
}
.footer .links {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    min-width: 400px;
    list-style-type: none;
}
.footer .links li {
    padding: 5px;
    text-align: justify;
    list-style-type: none;
    text-transform: capitalize;
   /* color: white;*/
}

.footer p {
    color: #455A64;
}


@media all and (max-width:1050px){

   .footer {
    justify-content: space-between;
    border: 5px solid gold; 
    }

    .footer .social {
        display: none;
    }

    .footer .links {
    min-width: 250px;
    }
    .footer .links li {
    padding: 3px;
    text-align: justify;
    list-style-type: none;
    text-transform: capitalize;
   /* color: white;*/
    }

}

@media all and (max-width:540px){
    
    .footer .links {
        min-width: 150px;
    }

    table th,td {
        padding: 0;
    }

}

@media all and (max-width:450px){
    
    .footer .links {
        display: none;
    }

    .footer .contact-data {
        align-self: center;
        align-content: center;
    }

    table th,td {
        padding: 5px;
    }
}