header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.intro-gif {
	width: 90vw;
}

.intro-gif img {
	width: 100%;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background-color: #212121;
}

.sidenav-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	padding: 10px;
}

.logo img {
	width: 100%;
}

.login, .register {
	width: 250px;
	height: 75px;
	background-color: #CDDC39;
	color: white;
	text-align: center;
	line-height: 75px;
	font-size: 2rem;
	margin: 7px auto;
}

.sidenav-container .register {
	background-color:#607D8B;
}

.sidenav-container .navigation {
	list-style-type: none;
	padding: 15px;
}

.navigation li {
	padding: 10px;
	font-size: 1.5rem;
}

.navigation a{
	text-decoration: none;
	color: #CFD8DC;
}

a:hover {
	color: #CDDC39;
}

