
.sidenav {
    height: 100%;
    min-width: 15vw; 
    max-width: 15vw;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden; 
    padding-top: 0px;
    padding-right: 20px;
  }
  
  .sidenav-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      padding: 10px;
  }
  .logo {
      width: 15vw;
      flex-shrink: 0;
  }
  
  .logo img {
      width: 100%;
  }
  
  .login, .register {
      min-width: 12vw;
      background-color: #CDDC39;
      color: white;
      text-align: center;
      line-height: 75px;
      font-size: 2rem;
      margin: 7px auto;
      flex-shrink: 2;
  }
  
  .sidenav-container .register {
      background-color:#607D8B;
  }
  

  .sidenav-container .navigation {
      list-style-type: none;
      padding: 15px;
      display: flex;
      flex-direction: column;
  }
  
  .navigation li {
      padding: 0.5rem;
      font-size: 1.5rem;
  }
  
  .sidenav a{
      text-decoration: none;
      color: #CFD8DC;
  }
  
  .navigation a:hover {
      color: #CDDC39;
  }

  #burger-checkbox {
    display: visible;
}

@media all and (max-width: 1300px) {
	.login, .register {
		min-width: 125px;
		font-size: 1.5rem;
		line-height: 50px;
	}
	.navigation li {
		padding: 0.5rem;
		font-size: 1rem;
	}

}


@media all and (max-width: 1050px) {
	
	.sidenav {
		min-width: 120px;
		top: -20px;	
	  	right: -10px;
	  }

	.login, .register {
        font-size: 1.25rem;
        min-width: 110px;
	}

}

@media all and (max-width: 760px) {
	.login, .register {
        font-size: 1rem;
        min-width: 100px;
        line-height: 40px;

	}
	.navigation li {
		padding: 1.5rem auto;
		font-size: 1rem;
	}
}

@media all and (max-width: 600px) {
    .logo {
        width: 20vw;
    }
}

@media all and (max-width: 480px) {
	.sidenav {
		top: -20px;
		right: -20px;
    }
    .logo {
        width: 20vw;
    }

	.login, .register {
		font-size: 1rem;
        min-width: 75px;
        line-height: 35px;;
	}

	.sidenav-container .navigation {
		text-align: right;
		padding: 5px;
    }
    .navigation {
        visibility: hidden;
}

