.navbar {
	display: flex;
	justify-content: space-between;
	background-color: #212121;
	border: 5px solid red;
	max-height: 75px;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 9999;
	flex-wrap: wrap;
	min-width: 320px;
}
.wrapper {
	display: flex;
	flex-direction: row;
}

.logo {
	height: 75px;
	border: 5px solid gold;
}
.logo img {
height: 100%;
display: cover;
}

.search-container  {
	display: flex;
	flex-direction: row;
	border: 5px solid green;
	justify-content: space-between;
	/*padding: 5px;*/
	/*width: 100px;*/
	/*overflow: hidden;*/
	align-items: center;
	flex-shrink: 2;
}


.search-container input {
border-radius: 50px;
text-align: center;
margin: 3px;
width:100%;
height: 35px;
min-width: 100px;
flex-shrink: 2;
}

.navbar .categories {
	display: flex;
	flex-direction: row;
	border: 5px solid blue;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
}

.categories .favs {
	color: #CDDC39;
}

.navbar li {
	list-style-type: none;
    display: flex;
    flex-direction: row;
	justify-content: flex-end;
}

.navbar li :hover {
	color: gray;
}

.navbar a {
	color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}
.navbar a .favs{
	color: #CDDC39;
}


@media all and (max-width:1200px){
 /* meter burger icon */	
	.navbar .categories {
	flex-direction: column;
	border: 5px solid blue;
	background-color: black;
	}

	.search-container  {
	max-height: 75px;
	}

}

@media all and (max-width:550px){
	
	.navbar .categories {
	visibility: hidden;
	}


}