/* Ancho */
::-webkit-scrollbar {
  width: 11px;

}
​
/* Fondo */
::-webkit-scrollbar-track {
  background: #CFD8DC; 
}
​
/* Barra desplazamient */
::-webkit-scrollbar-thumb {
  background: white; 
}
​
/* Barra de desplazamiento con hover */
::-webkit-scrollbar-thumb:hover {
  background:#CDDC39; 
}