/* Ancho */
::-webkit-scrollbar {
  height: 15px;

}
​
/* Fondo */
::-webkit-scrollbar-track {
  background: #212121; 
}
​
/* Barra desplazamient */
::-webkit-scrollbar-thumb {
  background: #CFD8DC;
}
​
/* Barra de desplazamiento con hover */
::-webkit-scrollbar-thumb:hover {
  background:#CDDC39; 
}