*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #0c0c0c;
	color: white;
	font-family: 'Righteous', cursive;
}


h1, h2, h3, p {
	font-family: 'Righteous', cursive;
	color: white;
}
body {
	min-width: 320px;
}

strong {
	font-weight: normal;
	color: #CDDC39;
}